PORT=3000
NODE_ENV=development
JWT_SECRET=cea_key_secret
JWT_EXPIRES_IN=8h
DB_HOST=localhost
DB_PORT=5432
DB_NAME=db_name
DB_USER=db_user
DB_PASSWORD=el_password_seguro
CORS_ORIGIN=http://localhost:5173